<div data-role="view" data-title="View" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" id="homeScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.home.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <center> <img src="http://thevillagegroup.org/wp-content/themes/the-village-group-skeleton/images/global/main-logo.png" width="60%" height="15%"></center>
    <center>
        <h1>Mobile App</h1></center>
    <center>
        <h2>Cultivating a Better Community Through Children</h2>
       <h2>Connect, Collaborate, Contribute, Change</h2>
    </center>
    <div id="scrollview" data-role="scrollview" data-page=0  data-pager-overlay="true" data-template="tmp" data-source="app.home.dataSource" data-changing="app.home.onChange">
    </div>

    <center>

        <div id="regDiv">
            <u><font size="5" color="blue">Register</font></u>
        </div>
        <h2>OR</h2>
        <div id="donDiv">
            <u><font size="5" color="blue" style="bold">Donate</font></u>
        </div>
        <h2>Today!</h2>
    </center>
    <center> <img src="http://thevillagegroup.org/wp-content/themes/the-village-group-skeleton/images/home/footer-logo-small.png"></center>


    <script id="tmp" type="text/javascript">
<div class="photo" data-role="page"><img height="400" src='#: Uri #' /></div>
</script>

     <script type="text/javascript">
        (function() {
            document.getElementById("regDiv").onclick = function() {
                openDonFromHomePage();
            };
        })();
    </script>

     <script type="text/javascript">
        (function() {
            document.getElementById("donDiv").onclick = function() {
                openRegFromHomePage();
            };
        })();
    </script>
    <!-- END_CUSTOM_CODE_home -->
</div>